.li {
  list-style-type: none;
}
.li:nth-child(odd) {
  background-color: aliceblue;
}
.container {
  width: 1000px;
  margin: auto;
}
.container h3 {
  text-align: center;
}
.user_info {
  background-color: antiquewhite;
  width: 50%;
  border-radius: 10px;
  height: 150px;
  margin: 20px 0;
  padding-top: 10px;
}
.user_info li {
  list-style-type: none;
  color: rgb(66, 66, 66);
}
