.info {
  width: 1000px;
  margin: auto;
  background-color: honeydew;
}
.article {
  padding: 10px;
  margin: 10px;
}
.article h3 {
  text-align: center;
}
.article_info {
  display: flex;
  /* margin: 0 20px; */
}
.picture {
  width: 200px;
  height: 300px;
  background-color: white;
}
.text {
  margin-left: 20px;
}
