.info {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.article {
  margin: 10px;
}
.article h3 {
  text-align: center;
}
.picture {
  width: 200px;
  height: 300px;
  background-color: white;
  float: left;
  margin: 7px 7px 7px 0;
}
.text {
  margin-left: 20px;
  text-indent: 25px;
}
.right_img {
}
