.header {
  padding: 20px 100px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
}
.link a {
  text-decoration: none;
  font-weight: 600;
  color: gray;
}
.link a:hover {
  background-color: #bbdefb;
  color: black;
}
.link a.activ {
  color: black;
  background-color: wheat;
}
