.header {
  width: 1000px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.link {
  width: 70px;
  white-space: nowrap;
}
.link a {
  text-decoration: none;
  font-weight: 600;
  color: gray;
}
.link a:hover {
  background-color: #bbdefb;
  color: black;
}
.link a.activ {
  color: black;
  background-color: wheat;
}
