.input {
  width: 300px;
  height: 20px;
  border: none;
}
.input:focus {
  background-color: rgb(203, 229, 238);
  border-bottom: solid rgb(170, 170, 170) 1px;
  border: none;
  outline: none;
}
.input:hover {
  background-color: rgb(203, 229, 238);
}
